@media (min-width: 768px) {
  #menuButton {
    display: none;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    flex: 1;
  }

  .top-sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.25rem;
    align-items: start;
  }

  .filters {
    grid-template-columns: repeat(3, 1fr);
  }

  #courseContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
